<div class="container mt-1">
  <div class="d-flex justify-content-between align-items-baseline">
    <h1>{{ 'ITEMS_LIST' | translate }}</h1>
    <span>
      {{ 'SHOW_ONLY_AVAILABLE' | translate }}: <input type="checkbox" [(ngModel)]="filterActive">
    </span>
  </div>

  <div class="row">
    <div class="col-6" *ngFor="let item of items$ | async | filterAvailable: filterActive" [routerLink]="['item', item.id]">
      <div class="list-group-item d-flex justify-content-between" [class.disabled]="!item.available">
        <span>{{ item.name }}</span>
        <span>{{ item.price | currency : item.currency }}</span>
      </div>
    </div>
  </div>
</div>