<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">DevSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let availablePath of availablePaths" class="nav-item active">
        <a class="nav-link" routerLink="{{'/' + availablePath?.path}}">
          {{ 'LABEL_' + availablePath?.id | uppercase | translate }}
          <span *ngIf="availablePath?.id === 'cart'" class="badge badge-light">
            {{ cartLength }}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <span class="ml-auto mr-3">
    <app-language-selector></app-language-selector>
    <app-main-menu></app-main-menu>
  </span>
</nav>