<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ 'WELCOME_DEVSCHOOL' | translate }}</h1>
    <p class="lead">{{ 'INTRO' | translate }}</p>
  </div>
</div>