
<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
    Language{{ !!language ? ': ' + language : '' | uppercase }} <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem" *ngFor="let lang of availableLangs" (click)="onLanguageChange(lang)">
      <a class="dropdown-item">{{ 'LANGUAGE_LABEL_' + lang | uppercase | translate }}</a>
    </li>
  </ul>
</div>